body{
    font-family:sans-serif, Helvetica;
    overflow:scroll;
    background-color:hsl(0, 0%, 0%);
    color: hsl(300, 100%, 40.2%);
  }
  
  img{
    height:200px;
    width: 300px;
  }
  
  .description{
    font-size:20px;
  }
  
  #cook-time{
    font-weight:bold;
  }
  
  .ingredients li{
    list-style:square;
  }
  
  p.time{
    color:hsl(0, 0, 76.5%);
  }
  
  .external-link{
    color:hsl(300, 100%, 40.2%);
  }
  